@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700;800&display=swap');

*{
    margin: 0 auto;
    padding: 0;
   
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 280px;
    margin: 0 auto;

}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
   
}

.card img {
    width: 100%;
    border-radius: 12px;
    
   
}

.text {
    padding: 22px 10px;

}

.id {
   padding-inline: 10px;
   visibility: hidden;
  
}

.text p {
    color: hsl(220, 15%, 55%);
   
}
.text h4 {
    color: hsl(240, 4%, 74%);
}


button {
    width: 200px;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #2c7dfa;
    
}
/* It is necessary to hide the class for ScrollReveal to work.*/
.area-1 {
    visibility: hidden;
    
    }
/*page responsiveness*/
    @media screen and (min-width: 480px) {
        .card {
        width: 80%;
        }
        
        }
    

